<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>教育地图</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/sow.css">
    <link rel="stylesheet" href="/css/toolbar.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://api.map.baidu.com/api?v=2.0&ak=KIIdahCOvEoytBiuSNKeBUKW"></script>
    <script src="/js/infobox_min.js"></script>
    <script src="/js/RichMarker_min.js"></script>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/public.js"></script>
    <script src="/js/moment.js"></script>
</head>
