<div class="toolbar" style="float:left;width: 50px; ">
    <div class="toolbar-group">
        <div class="toolbar-group-icon">
            <i class="fa fa-user"></i>
        </div>
        <div class="toolbar-group-text">
            用户
        </div>
    </div>

    <div class="toolbar-group">
        <div class="toolbar-group-icon">
            <i class="fa fa-history"></i>
        </div>
        <div class="toolbar-group-text">
            历史
        </div>
    </div>

    <div class="toolbar-group">
        <div class="toolbar-group-icon">
            <span><i class="fa fa-bookmark"></i></span>
        </div>
        <div class="toolbar-group-text">
            收藏
        </div>
    </div>

    <div class="toolbar-group">
        <div class="toolbar-group-icon">
            <i class="fa fa-bell"></i>
        </div>
        <div class="toolbar-group-text">
            消息
        </div>
    </div>
</div>